.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 120px;
}
.navbar .brand-title {
  width: 110px;
}
.navbar .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #CD533B;
  border-radius: 10px;
}
.navbar .navbar-links {
  display: none;
  width: 100%;
}
.navbar .navbar-links.active {
  display: flex;
}
.navbar .navbar-links ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
.navbar .navbar-links ul li {
  list-style: none;
  text-align: right;
}
.navbar .navbar-links ul li a {
  color: white;
  text-decoration: none;
}
.navbar .navbar-links ul li a.active {
  color: #CD533B;
  font-weight: 800;
}
.navbar .navbar-links ul li a:hover {
  color: #CD533B;
}

body {
  padding: 10px;
}

body {
  background-color: rgb(14, 14, 14);
}

.bilboard-section {
  background-color: rgb(14, 14, 14);
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bilboard-section .uiux-img {
  width: 800px;
}
.bilboard-section span {
  font-family: "cumiskat_regular";
  color: #CD533B;
}
.bilboard-section p {
  width: 56%;
}

.aboutme-section {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 120px;
}
.aboutme-section button {
  background-color: #f75a0b;
  border: none;
  color: white;
  border-radius: 5px;
  width: 155px;
  height: 45px;
  font-weight: 500;
}
.aboutme-section .aboutlines {
  margin-bottom: 70px;
}
.aboutme-section p {
  width: 79%;
}
.aboutme-section h2 {
  font-size: 55px;
}
.aboutme-section h2 span {
  color: #f75a0b;
}

.portfolio-section {
  padding: 120px;
  background-color: rgb(14, 14, 14);
}
.portfolio-section h4 {
  color: white;
}
.portfolio-section .rect-all-orange {
  background-image: url(/assets/images/Rectangle245.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
}
.portfolio-section .rect-all-orange .inside-image {
  position: absolute;
}

.portfolio-bilboard {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-bilboard .bannerimg {
  width: 700px;
  margin-bottom: 120px;
}
.portfolio-bilboard p {
  width: 90%;
}
.portfolio-bilboard .main-header {
  margin-bottom: 10px;
}
.portfolio-bilboard .color-schemes {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
.portfolio-bilboard .color-schemes .rect1 {
  background-color: orange;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.portfolio-bilboard .color-schemes .rect2 {
  background-color: #ffffff;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.portfolio-bilboard .color-schemes .rect3 {
  background-color: black;
  width: 100px;
  height: 40px;
  border: 1px solid white;
}
.portfolio-bilboard .color-schemes .rect4 {
  background-color: #CD533B;
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
}
.portfolio-bilboard .color-schemes .rect5 {
  background-color: #ffffff;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.portfolio-bilboard .color-schemes .rect6 {
  background-color: #435756;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.portfolio-bilboard hr {
  background-color: #CD533B;
  opacity: 100%;
  border: none;
  height: 5px;
  width: 80%;
  margin-bottom: 180px;
  margin-top: 180px;
}
.design-solutions{
font-weight: 400;
}

.toolkit-section {
  background-image: url(/assets/images/Rectangle\ print\ 273.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
}
.toolkit-section .toolkits {
  display: flex;
  gap: 20px;
  color: white;
}
.toolkit-section .toolkits .tolkiticon1 {
  width: 90px;
  height: 90px;
}
.toolkit-section .all-toolkits {
  display: flex;
  justify-content: space-between;
  padding: 120px;
}

.footer {
  padding: 120px;
  height: 79vh;
  background-color: black;
  color: white;
}
.footer .social-ico {
  display: flex;
  gap: 16px;
}
.footer p {
  text-align: center;
  margin-top: 30px;
}
.footer .menu-logo {
  margin-bottom: 30px;
}
.footer form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer form input {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(56, 57, 57);
  border: none;
}
.footer form textarea {
  padding: 10px;
  background-color: rgb(56, 57, 57);
  border: none;
  width: 90%;
}
.footer form button {
  background-color: #f75a0b;
  border: none;
  color: white;
  border-radius: 5px;
  width: 155px;
  height: 45px;
  font-weight: 500;
}
.footer h5, .footer h6 {
  line-height: 40px;
}
.footer h5 li, .footer h6 li {
  list-style: none;
}
.footer h5 li a, .footer h6 li a {
  text-decoration: none;
  color: white;
}
.footer h5 li a:hover, .footer h6 li a:hover {
  color: #CD533B;
}

/* kkks */
.portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  padding-left: 230px;
}
.portfolio .portfolio-headtxt {
  padding-left: 400px;
  margin-bottom: 110px;
}
.portfolio .portfolio-rect {
  width: 90%;
  height: 100%;
  padding-top: 50px;
}
.portfolio .portfolio-rect2 {
  width: 90%;
  height: 100%;
  position: relative;
  bottom: 200px;
}
.portfolio .portfolio-rect3 {
  width: 90%;
  height: 100%;
  position: relative;
  bottom: 460px;
}
.portfolio .portfolio-image1 {
  width: 440px;
  position: relative;
  z-index: 1;
  bottom: 420px;
  right: 90px;
}
.portfolio .portfolio-image1txt {
  width: 440px;
  position: relative;
  bottom: 420px;
  right: 90px;
  color: white;
}
.portfolio .portfolio-image2txt {
  width: 440px;
  position: relative;
  bottom: 420px;
  left: 50px;
  color: white;
}
.portfolio .portfolio-heading {
  padding-left: 380px;
}
.portfolio .lines2 {
  position: relative;
  left: 40px;
}
.portfolio .project-name {
  position: relative;
  bottom: 20px;
}
.portfolio .portfolio-image2 {
  width: 350px;
  position: relative;
  z-index: 1;
  bottom: 430px;
  left: 100px;
}/*# sourceMappingURL=main.css.map */